nav {
    display: flex;
    justify-content: space-between;
    background-color: #1d809f;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;

}

.logo {
    font-size: 30px;
    color: #fff;

    /*
    white-space:nowrap;
    text-overflow:ellipsis;
    */
}

nav ul {
    list-style: none;
    /*
    white-space: nowrap;
    text-overflow:ellipsis;
    */
}

nav ul li {
    width: auto;
    display: inline-block;
    margin-right: 25px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    nav ul li {
      margin-right: 10px;
    }
  }

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    nav ul li a {
      font-size: 16px;
    }
  }

/*
.navb:hover{
    background-color:#1d809f;
}
*/